<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/mydsl/If22"
			class = "org.xtext.example.mydsl.if22.If22Package"
			genModel = "model/generated/If22.genmodel" />
	</extension>
</plugin>
